package/Client/*
package/Saved Games/*
package/Debug/*

package/*.mix
package/ddraw.dll
package/ddraw.ini
package/spawn.ini
package/spawnmap.ini
package/stats.dmp
package/REDALERT.ini
package/version_u

package/QM/**-qmlog.txt

tools/node_modules/
