*-spawn.exe
DtaverWriter.exe
ddraw.dll
ddraw.ini
Client/*
Debug/*
Maps/Custom/*.zip
Maps/Custom/*.map
Maps/Custom/*.png
version_u
.DS_Store
CnCNet5_RA_Installer.exe
*.idea/
VersionWriter-CopiedFiles/
MainMenuTheme.bak

VersionWriter.exe
version

/REDALERT.ini

spawn.ini
spawnmap.ini
stats.dmp
/InnoSetup/output
/gitversion.json
/logs
