package/Client/*
package/Saved Games/*
package/Debug/*

package/*.mix
!package/raed.mix
!package/raed1.mix
!package/raed2.mix

package/ddraw.dll
package/ddraw.ini
package/spawn.ini
package/spawnmap.ini
package/stats.dmp
package/REDALERT.ini
package/version_u
package/*.mpr
package/C&C-RAED.ini

package/QM/**-qmlog.txt

tools/node_modules/
